<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<div class="login-bg">
    <div class="bg-image"></div>

    <h1 class="city-title">ANGELES CITY DOCUMENT REQUEST</h1>

    <!-- LOGO -->
    <img src="/assets/images/angeles_city_logo.png" alt="Angeles City Logo" class="logo" />

    <!-- WELCOME TEXT -->
    <p class="welcome-text">WELCOME ANGELEÑOS</p>

    <!-- LOGIN CARD -->
    <div class="login-container">
        <div class="login-box">

            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-box">

                <h3 class="login-title">LOGIN</h3>

                <!-- EMAIL -->
                <div class="input-with-icon">
                    <input type="email" formControlName="email" placeholder="EMAIL" />
                </div>

                <!-- PASSWORD -->
                <div class="input-with-icon">
                    <input [type]="showPassword ? 'text' : 'password'" formControlName="password"
                        placeholder="PASSWORD" />
                    <span class="password-toggle" (click)="showPassword = !showPassword">
                        <i [class]="showPassword ? 'fa-solid fa-eye' : 'fa-solid fa-eye-slash'"></i>
                    </span>
                </div>

                <!-- LOGIN BUTTON -->
                <button type="submit" class="login-btn" [disabled]="loginForm.invalid">LOGIN
                </button>

                <!-- LINKS -->
                <div class="form-options">
                    <a (click)="goToForgotPassword($event)">Forgot password?</a>
                </div>

                <p class="register-text">
                    Don't have an account?
                    <a routerLink="/register" style="cursor:pointer;">Register</a>
                </p>

                 <p>
                  Not verified yet?
                  <a (click)="goToOtp()" style="cursor:pointer;">Go to OTP Verification</a>
                </p>

            </form>
        </div>
    </div>

</div>


               