<body class="bg-gray-200 min-h-screen p-8 font-sans">

  <div class="mb-12 mt-4">
    <h2 class="text-3xl font-bold text-blue-800 flex items-center gap-2 mb-8">
      <i class="fa-solid fa-certificate"></i>
      DOCUMENTS
    </h2>

    <!-- Types of Certificates -->
    <div class="flex gap-4 mt-4 justify-center">
      <a  class="block w-64">
        <div class="bg-white border rounded-lg shadow-md p-4 flex flex-col items-center hover:shadow-lg   transition cursor-pointer" routerLink="/empyear" routerLinkActive="active">
          <img src="assets/images/angeles_city_logo.png" alt="icon" class="h-24 mb-4" routerLink="/birth" routerLinkActive="active">
          <p class="font-semibold text-center" routerLink="/birth" routerLinkActive="active">Certificate of Live Birth</p>
        </div>
      </a>

      <a  class="block w-64">
        <div class="bg-white border rounded-lg shadow-md p-4 flex flex-col items-center hover:shadow-lg   transition cursor-pointer" routerLink="/attendance" routerLinkActive="active">
          <img src="assets/images/angeles_city_logo.png" alt="icon" class="h-24 mb-4">
          <p class="font-semibold text-center" routerLink="/deathcert" routerLinkActive="active">Death Certificate</p>
        </div>
      </a>
    </div>

    <div class="flex justify-end">
      <a>
        <img src="assets/images/more.png" alt="icon" class="h-6 mt-4 cursor-pointer"  routerLink="/certificates" routerLinkActive="active">
      </a>
    </div>
  </div>


</body>
